body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
}

.headerPrincipal{
  position: relative;
  background: linear-gradient(0deg, rgba(127,219,218,1) 18%, rgba(228,240,181,1) 100%);
  height: 10vh;
  width: 100%;
}

.footerPrincipal {
  background: linear-gradient(0deg, rgba(228,240,181,1) 0%, rgba(127,219,218,1) 83%);
  height: 7vh;
  width: 100%;
}

/* Pagina Principal - Bienvenida al usuario*/

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  min-height: 70vh;
}

.bienvenida {
  background-color: #E4F0B5;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

h1 {
  font-size: 25px;
  margin: 10px;
  color: rgb(22, 24, 24);
}

.bienvenida figure {
  margin: 0px;
}

img {
  margin-top: 5px;
  width: 50%;
  height: 50%;
}

h4 {
  font: 8px;
  margin: 10px;
  color: rgb(22, 24, 24);
}

/*Pagina Principal - Formulario de inicio de sesión*/

.LogIn {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.LogIn_input {
  background-color: #E4F0B5;
  width: 80%;
  height: 20px;
  margin-top: 10px;
  border: 3px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.LogIn_input:focus {
  outline: 0 none;
  border: 2px solid #7FDBDA;
}

.btonSesion {
  margin-top: 20px;
  height: 30px;
  background-color: #FAC45B;
  border: 3px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  cursor: pointer;
}

/*Pagina Principal - Iniciar sesion con Google*/

.google {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  height: 0 auto;
}

.btnGoogle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.btnGoogle input {
  width: 40px;
  height: 40px;
}

.google p {
  margin-top: 10px;
}

.google button {
  margin: 0px;
}

@media only screen and (min-width: 600px) {
 .headerPrincipal {
  height: 15vh; 
 }
 .footerPrincipal {
  margin-top: 20px;
  height: 8vh;
}
 .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  height: 0 auto;
}
  h1 {
    font-size: 30px;
    margin: 15px;
  }

  /*Pagina Principal - Formulario de inicio de sesión*/

  .LogIn {
    margin: 20px;
  }
  .LogIn_input {
    width: 60%;
    height: 30px;
    margin-top: 20px;
  }
  .btonSesion {
    margin-top: 20px;
    width: 120px;
    height: 40px;
  }
  /*Pagina Principal - Iniciar sesion con Google*/
  .btnGoogle {
    position: relative;
    width: 70px;
    height: 70px;
  }
  .btnGoogle input {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (min-width: 1024px){
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .bienvenida {
  position: relative;
   width: 500px;
   height: 400px;
   margin: 30px 10px;
   margin-top: 0;
  }

  .desktop {
    flex-direction: column;
    margin-left: 5%;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 20px;
  }
  
  /*Pagina Principal - Formulario de inicio de sesión*/

  img {
    margin-top: 20px;
  }

  h4 {
    margin-top: 20px;
  }

  .LogIn_input {
  width: 400px;
  height: 30px;
  margin-top: 20px;
  }

  .btonSesion {
    margin-top: 30px;
    width: 200px;
    font-size: 18px;
  }

  /*Pagina Principal - Iniciar sesion con Google*/

  .btnGoogle input {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  .google p {
    margin-top: 40px;
  }
}
                              /* estilos formulario crear cuenta*/


.container_create {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0 auto;
}
.img_create{
  margin-top: 10px;
  width: 70%;
  height: 70%;
}
.createAccount {
  display: grid;
  grid-auto-flow:row;
  gap: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
  width: 80%;
  margin-bottom: 20px;
}
.form__input {
  background-color: #E4F0B5;
  width: 80%;
  height: 30px;
  margin-top: 10px;
  border: 3px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-left: 5px;
}
.form__input:focus {
  outline: 0 none;
  border: 2px solid #7FDBDA;
}
.input_create {
  margin-left: 10px;
}
.send {
  margin-top: 20px;
  width: 40%;
  height: 30px;
  background-color: #FAC45B;
  border: 3px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  cursor: pointer;
}
.form_confirmation_message {
  width: 90%;
  height: auto;
  margin: 0;
  margin-left: 15px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #73df79;
  color: black;
  display: none;
}
.form_denied_message {
  width: 90%;
  height: auto;
  margin: 0;
  margin-left: 15px;
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #ee9292;
  color: black;
  display: none;
}

@media only screen and (min-width: 600px) {
  .headerPrincipal {
   height: 15vh; 
  }
  .footerPrincipal {
    margin-top: 20px;
    height: 8vh;
  }
  .img_create{
    margin-top: 30px;
    width: 200px;
    height: 150px;
  }
  .container_create h2{
    font-size: 30px;
  }
  .form__input {
    width: 80%;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 15px;
  }
  .send {
    width: 30%;
    height: 40px;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .createAccount {
    height: 480px;
  }
  .form_denied_message {
    width: 90%;
    height: 35px;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
  }
  .form_confirmation_message {
    width: 80%;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
  }
 }
 
 @media only screen and (min-width: 1024px){
  .form_denied_message {
    width: 80%;
    height: auto;
    margin: 0;
    margin-left: 55px;
    margin-top: 15px;
    font-size: 20px;
  }
  .form_confirmation_message {
    width: 80%;
    height: auto;
    margin-left: 0px;
    margin-right: 70px;
    margin-top: 15px;
    font-size: 20px;
  }
 }